<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.university">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AkademisyenActivity"></activity>
        <activity android:name=".TipVeterinerlikActivity" />
        <activity android:name=".VeterinerlikSosyalAktivitelerActivity" />
        <activity android:name=".VeterinerlikSosyalAktivitelerCommentActivity" />
        <activity android:name=".VeterinerlikSosyalAktivitelerClickPostsActivity" />
        <activity android:name=".VeterinerlikSosyalAktivitelerPostsActivity" />
        <activity android:name=".IsletmeSosyalAktivitelerPostsActivity" />
        <activity android:name=".MuhendislikSosyalAktivitelerPostsActivity" />
        <activity android:name=".MuhendislikSosyalAktivitelerCommentActivity" />
        <activity android:name=".MuhendislikSosyalAktivitelerClickPostActivity" />
        <activity android:name=".MimarlikSosyalAktivitelerPostsActivity" />
        <activity android:name=".MimarlikSosyalAktivitelerCommentActivity" />
        <activity android:name=".MimarlikSosyalAktivitelerClickPostActivity" />
        <activity android:name=".IsletmeSosyalAktivitelerCommentActivity" />
        <activity android:name=".IsletmeSosyalAktivitelerClickPostActivity" />
        <activity android:name=".HukukSosyalAktivitelerPostsActivity" />
        <activity android:name=".HukukSosyalAktivitelerCommentActivity" />
        <activity android:name=".HukukSosyalAktivitelerClickPostActivity" />
        <activity android:name=".TipSosyalAktivitelerPostsActivity" />
        <activity android:name=".TipSosyalAktivitelerCommentActivity" />
        <activity android:name=".TipSosyalAktivitelerClickPostActivity" />
        <activity android:name=".EgitimSosyalAktivitelerPostsActivity" />
        <activity android:name=".EgitimSosyalAktivitelerCommentActivity" />
        <activity android:name=".EgitimSosyalAktivitelerClickPostsActivity" />
        <activity android:name=".VeterinerlikProjeOnerileriPostsActivity" />
        <activity android:name=".VeterinerlikProjeOnerileriCommentActivity" />
        <activity android:name=".VeterinerlikProjeOnerileriClickPostActivity" />
        <activity android:name=".TipSosyalAktivitelerActivity" />
        <activity android:name=".MuhendislikSosyalAktivitelerActivity" />
        <activity android:name=".MimarlikSosyalAktivitelerActivity" />
        <activity android:name=".IsletmeSosyalAktivitelerActivity" />
        <activity android:name=".HukukSosyalAktivitelerActivity" />
        <activity android:name=".EgitimSosyalAktivitelerActivity" />
        <activity android:name=".VeterinerlikProjeOnerileriActivity" />
        <activity android:name=".TipProjeOnerileriClickPostActivity" />
        <activity android:name=".MuhendislikProjeOnerileriClickPostActivity" />
        <activity android:name=".TipProjeOnerileriCommentActivity" />
        <activity android:name=".MuhendislikProjeOnerileriCommentActivity" />
        <activity android:name=".MimarlikProjeOnerileriCommentActivity" />
        <activity android:name=".MimarlikProjeOnerileriClickPostActivity" />
        <activity android:name=".TipProjeOnerileriActivity" />
        <activity android:name=".MuhendislikProjeOnerileriActivity" />
        <activity android:name=".MimarlikProjeOnerileriActivity" />
        <activity android:name=".TipProjeOnerileriPostsActivity" />
        <activity android:name=".MuhendislikProjeOnerileriPostsActivity" />
        <activity android:name=".MimarlikProjeOnerileriPostsActivity" />
        <activity android:name=".IsletmeProjeOnerileriCommentActivity" />
        <activity android:name=".IsletmeProjeOnerileriActivity" />
        <activity android:name=".IsletmeProjeOnerileriClickPostActivity" />
        <activity android:name=".IsletmeProjeOnerileriPostsActivity" />
        <activity android:name=".HukukProjeOnerileriCommentActivity" />
        <activity android:name=".HukukProjeOnerileriClickPostsActivity" />
        <activity android:name=".HukukProjeOnerileriActivity" />
        <activity android:name=".HukukProjeOnerileriPostsActivity" />
        <activity android:name=".EgitimProjeOnerileriCommentActivity" />
        <activity android:name=".EgitimProjeOnerileriClickPostActivity" />
        <activity android:name=".EgitimProjeOnerileriActivity" />
        <activity android:name=".EgitimProjeOnerileriPostsActivity" />
        <activity android:name=".VeterinerlikSorCommentActivity" />
        <activity android:name=".VeterinerlikSorClickPostActivity" />
        <activity android:name=".VeterinerlikSorActivity" />
        <activity android:name=".VeterinerlikSorPostsActivity" />
        <activity android:name=".VeterinerlikActivity" />
        <activity android:name=".TipSorCommentActivity" />
        <activity android:name=".TipSorClickPostActivity" />
        <activity android:name=".TipSorPostsActivity" />
        <activity android:name=".TipSorActivity" />
        <activity android:name=".TipActivity" />
        <activity android:name=".EgitimSorCommentActivity" />
        <activity android:name=".EgitimSorClickPostActivity" />
        <activity android:name=".EgitimSorPostsActivity" />
        <activity android:name=".EgitimSorActivity" />
        <activity android:name=".EgitimActivity" />
        <activity android:name=".IsletmeCommentActivity" />
        <activity android:name=".IsletmeSorClickPostActivity" />
        <activity android:name=".IsletmeSorPostsActivity" />
        <activity android:name=".IsletmeSorActivity" />
        <activity android:name=".IsletmeActivity" />
        <activity android:name=".HukukSorCommentActivity" />
        <activity android:name=".HukukSorClickPostActivity" />
        <activity android:name=".HukukSorPostsActivity" />
        <activity android:name=".HukukSorActivity" />
        <activity android:name=".HukukActivity" />
        <activity android:name=".MimarlikSorClickPostActivity" />
        <activity android:name=".MimarlikSorCommentActivity" />
        <activity android:name=".MimarlikSorPostsActivity" />
        <activity android:name=".MimarlikSorActivity" />
        <activity android:name=".MuhendislikSorCommentActivity" />
        <activity android:name=".MuhendislikSorClickPostActivity" />
        <activity android:name=".MuhendislikSorPostsActivity" />
        <activity android:name=".MuhendislikSorActivity" />
        <activity android:name=".MimarlikActivity" />
        <activity android:name=".MuhendislikActivity" />
        <activity android:name=".MuhendislikMimarlikActivity" />
        <activity android:name=".BolumuneSorActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>